@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
.Clock {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}
.Clock > h1 {
  font-size: 4rem;
}
@media screen and (min-width: 768px) {
  .Clock > h1 {
    font-size: 7rem;
  }
}
